* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 15px;
    width: fit-content;
}
header {
    position: relative;
}
#nav-div {
    background: #fff;
    display: block;
    position: relative;
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
    max-width: 1400px;
    height: 70px;
    box-sizing: border-box;
    padding: 0px 10px 0px 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    height: 65px;
}

.one {
    margin-right: 15px;
}

.three {
    align-items: center;
    display: flex;
}
.rounded-input {
    border-radius: 20px;

}
.input-area {
    width: 500px;
    height: 45px;
    border-radius: 20px 20px 20px 20px;
    box-sizing: border-box;
    border: 1px solid #434852;
    font-size: 15px;
    background-color: white;
    background-image: url('search icon.png');
    background-size: 35px;
    background-position: left; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    margin-bottom: 5px;
}

.btn {
    color: #505763;
    padding: 12px;
    border: none;
    background-color: inherit;
    border-radius: 2px;
    margin-left: 2px;
    cursor: pointer;
}

.shop {
    margin-right: 10px;
}

.btn-round:hover {
    background-color: #f2f3f5;
    border-radius: 50%;
    border: 1px solid gray;
}
.cat-btn {
    border: none;
}
.cat-btn:hover {
    color: teal;
}
.lg-btn {
    border: none;
    margin-top: 10px;
}
.lg-btn:hover {
    color: teal;
}
.logbtn {
    border: 1px solid teal;
    height: 35px;
    margin-top: 15px;
    color: teal;
    font-weight: bold;
    width: 100px;
}
.signin {
    background: teal;
    color: #fff;
    font-weight: bold;
    width: 100px;
    height: 35px;
    margin-top: 15px;
}
/* Catagory dropdown code */

.cate-dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 200px;
    height: 700px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content ul li {
    display: block;
    margin-left: 10px;
    margin-bottom: 20px;
    color: #434852;
}
.cate-dropdown:hover .dropdown-content {
    display: block;
}
.dropdowncontent {
    display: none;
    position: absolute;
    text-align: center;
    font-weight: bold;
    background-color: #fff;
    color: black;
    width: 280px;
    height: 140px;
    font-size: 18px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
}
.cate-dropdown:hover .dropdowncontent {
    display: block;
    color: black;
}
.butn {
    background-color: teal;
    color: white;
    width: 220px;
    font-size: 15px;
    font-weight: bold;
    height: 45px;
    border: none;
    margin-top: 20px;
}
/* image */
.hold {
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 40px;
}
.holder {
    margin-top: 15px;
    margin-left: 20px;
    font-size: 20px;
}
.input-areas {
    width: 400px;
    height: 45px;
    box-sizing: border-box;
    border: 1px solid #434852;
    border-radius: 4px;
    font-size: 15px;
    background-color: white;
    background-image: url('search icon.png');
    background-size: 40px;
    background-position: right; 
    background-repeat: no-repeat;
    padding: 5px 40px 10px 5px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 15px;
}
.center {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: #434852;
    font-size: 15px;
    width: 450px;
    height: 240px;
    background-color: white;
}
#drop {
    margin-bottom:20px;
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: 0px 10px 0px 10px;
}
.fa-youtube {
    color: rgb(0, 128, 128);
    font-size: 20px;
}
.navcontent {
    display: flex;
    justify-content: space-between;
    height: 65px;
    margin-right: 30px;
    color: #434852;
}
.drops {
    margin-left: 30px;
    padding-top: 20px;
    font-size: 15px;
    display: block;
    width: 350px;
}
.enjoys {
    margin-left: 10px;
}
.enjoy {
    margin-left: 40px;
    margin-top: 10px;
}
.fa-award {
    color: rgb(0, 128, 128);
    font-size: 20px;
}
.expert {
    margin-left: 30px;
    margin-top: 10px;
}
.fa-infinity {
    color: rgb(0, 128, 128);
    font-size: 20px;
}
.text {
    padding-top: 50px;
    padding-left: 30px;
    color: #505763;
    margin-bottom: 50px;
}
.bar {
    margin-bottom: 10px;
}
h3 {
    font-size: 22px;
    margin-bottom: 15px;
}
.bar ul li {
    list-style-type: none;
    display: inline;
    margin-left: 30px;
}
.bar ul li a {
    text-decoration: none;
    color: #434852;
    font-weight: bold;
}
.bar ul li a:hover {
    cursor: pointer;
}
.bar ul li a:active {
    text-decoration: dashed;
}
#box {
    background-color: rgb(245, 230, 226);
    width: 98%;
    height: 220px;
    margin-left: 15px;
    position: relative;
}
.width {
    display: block;
    width: 50%;
    left: 0%;
    padding-top: 30px;
    padding-left: 15px;
}
.size {
    margin-bottom: 20px;
    margin-left: 15px;
}
.size a {
    text-decoration: none;
    color: #434852;
}
.decor {
    margin-bottom: 25px;
    margin-left: 15px;
}
.decor a {
    text-decoration: none;
    color: #434852;
    font-size: 14.5px;
}
.bold {
    margin-right: 20px;
}
.bold a {
    color: teal;
    font-size: 14.5px;
    margin-left: 15px;
    text-decoration: none;
}
.smile img {
    position: absolute;
    right: 4%;
    top: 6%;
    border-radius: 50%;
}
.master {
    margin-top: 15px;
    height: 300px;
    margin-bottom: 30px;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
} 
.gallery {
    margin: 5px;
    float: left;
}
.gallery img {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.desc {
    width: 250px;
    font-size: 15px;
    color: #434852;
}
.small {
    margin-bottom: 8px;
    font-size: smaller;
}
.yell {
    margin-bottom: 8px;
}
.yellow {
    color: rgba(243, 186, 28, 0.87);
    font-size: 12px;
    margin-right: 8px;
    margin-bottom: 8px;
}
span {
    color: grey;
}
.line {
    text-decoration: line-through;
}
.mark {
    background-color: rgba(243, 186, 28, 0.87);
    border-radius: 4px;
    width: 60px;
    text-align: center;
    font-size: smaller;
}
.fa-clock {
    color: rgb(0, 128, 128);
    font-size: 20px;
}
.fa-chalkboard-teacher {
    color: rgb(0, 128, 128);
    font-size: 20px;
}
.fa-video {
    color: rgb(0, 128, 128);
    font-size: 20px;
}
