.table {
    width:60%; 
    border-collapse:collapse; 
    margin: 20px;
}
th {
    background-color: white;
    border: 1px solid black;
    color: black;
}
 td{ 
    padding:7px; 
    border: black 1px solid;
}
/* provide some minimal visual accomodation for IE8 and below */
 tr{
    background-color: #f8f9fc;
}
/*  Define the background color for all the ODD background rows  */
 tr:nth-child(odd){ 
    background-color: black;
    color: white;
}
/*  Define the background color for all the EVEN background rows  */
tr:nth-child(even){
    background-color: white;
}


